body {
	background-color: #999;
	color: #000;
}

#main-wrapper {
	display: flex;
}
#title {
	flex-grow:1;
}
table {
	height: 500px;
	width: 500px;
	background-color: #AA3939;
	border-radius: 3px;
	flex-grow: 4;
}

button {
	width: 70%;
	height: 50px;
	border-radius: 10px;
	background-color: #FFAAAA;
	font-size: 1.5em;
}

tr {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	border-radius: 2px;
}

.x {
	background-color: #7A9F35;
	background-image: url('x.png');
	background-size: cover;
}

.o {
	background-color: #226666;
	background-image: url('circle.png');
	background-size: cover;
}

/*tr:nth-child(2) > td:nth-child(2) {
	border: 1px solid black;
}

tr:nth-child(1) > td:nth-child(1) {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

tr:nth-child(1) > td:last-child {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

tr:nth-child(3) > td:first-child {
	border-top: 1px solid black;
	border-right: 1px solid black;
}

tr:last-child > td:last-child {
	border-top: 1px solid black;
	border-left: 1px solid black;
}*/